
.rootClass {
    max-width: 800px;
}

.rootClassFilter {
    max-width: 250px;
}

.yearPicker {
    background-color: white;
}

.yearArea {
    /* display: flex;
    flex-direction: column;
    width: 600px; */
    padding-bottom: 20px;
}

.yearSelection {
    display: flex;
    flex-direction: row;
    padding-bottom: 5px;
    /* height: 90px; */
} 

 .hide {
    display: none;
}